* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
}

dialog::backdrop {
  background-color: black;
  opacity: 30%;
}

.name-form,
.results {
  margin: auto;
  padding: 20px;
  font-size: 1.4em;
}

.name-form>div,
.results>div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-form>div>p,
.result-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.result-text {
  place-self: center;
}

form {
  display: grid;
  grid-template-rows: repeat(5 1fr);
  gap: 10px;
}

label {
  font-size: 1.3em;
}

input {
  height: 40px;
  width: 400px;
  padding: 5px;
  font-size: 1.1em;
}

.start-game-button,
.new-game-button {
  height: 70px;
  width: 180px;
  font-size: 1.2em;
  margin-top: 20px;
  border: none;
  border-radius: 10px;

  place-self: center;
}

.game-area {
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 20px;
}

.game-notification {
  font-size: 2em;
  font-weight: bold;

  justify-self: center;
}

.game-grid {
  height: 600px;
  width: 600px;
  border: 15px solid white;
  background-color: black;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.game-cell {
  background-color: white;
  border: none;
  font-size: 5em;
  font-weight: bold;
}